* {
  font-family: "Crimson Text", serif;
}

div.title {
  text-align: center;
  background: #ffffff;
  position: fixed;
  width: 100%;
  z-index: 1;
  top: 0px;
}  

.contact li {
  display: inline-block;
  margin: 0px 20px;
}

div.info {
  background: #f7f7f7;
  position: relative;
  top: 120px;
}

li, p {
  color: #727272;
}
